.sideBar-item {
    color: white !important;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}
.avatar {
    padding-left: 20px !important;
    height: 100px !important;
    background-color: white;
}
.ant-layout-sider-children {
    margin: 30px 0px;
    .ant-menu-item {
        margin: 12px 0px;
    }
    .ant-menu-item-selected {
        color: #f8843d !important;
        background-color: transparent !important;
    }
}
